.errorMessage {
  color: red;
}

.contactContainer {
  height: 100vh;
  width: 100vw;
  color: black;
}

.contactHeader {
  color: black;
  padding-top: 10vh;
}

.submitButton {
  background-color: #3d405b !important;
}
