.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #cccccc;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 40px;
  font-size: 25px;
}
