.leftResumeGrid {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}
.resumePDF {
  height: 100%;
  width: 100%;
}
.resumeCard {
  position: relative;
  box-shadow: none !important;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f4f1de !important;
}

.resumeImage {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-top: 20px !important;
}

.resumeLink {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.skillsHeader {
  text-align: center;
  color: #3d405b;
}

.resumeHeader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  text-align: center;
  color: #3d405b;
}

.skillsList {
  padding-left: 10vw !important;
  padding-right: 5vw !important;
}

.rightResumePage {
  color: #3d405b !important;
}

@media only screen and (max-width: 1020px) {
  .resumeContainer {
    display: flex !important;
    flex-direction: column !important;
  }
  .resumeImg {
    width: 100% !important;
  }
  .skillsContainer {
    justify-content: center !important;
  }
}

@media (min-width: 900px) {
  .skill {
    font-size: 1.3em !important;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .skill {
    font-size: 1.2em !important;
  }
}

@media (max-width: 600px) {
  .skill {
    font-size: 1em !important;
  }
}
